
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,200;0,400;0,500;0,600;1,400;1,500&display=swap');

body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 15px;
}

.flex {
    display: flex;
}

.black {
    color: black;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.field-style-1 {
    margin-bottom: 6px;
}

.regular-text-style-1 {
    margin: 0;
    font-size: 16px;
}

.regular-text-style-2 {
    margin: 0;
    font-size: 13px;
}

.regular-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.title-style-1 {
    margin: 4px 4px 6px 4px;
    font-size: 22px;
}

.title-style-2 {
    margin: 4px 4px 6px 4px;
    font-size: 18px;
}

.title-style-3 {
    margin: 2px 0 2px 2px;
    font-size: 26px;
}

.title-style-4 {
    margin: 0;
    font-size: 22px;
}

.title-style-5 {
    margin: 0;
    font-size: 20px;
}

.image-style-1 {
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

.image-style-2 {
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.image-style-3 {
    display: block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.image-style-4 {
    display: block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.label-style-1 {
    font-size: 13.5px;
    margin: 0 0 5px 5px;
    display: block;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-v-flex {
    display: flex;
    align-items: center;
}

.flex-justify {
    display: flex;
    justify-content: center;
}

.small-label {
    font-size: 13px;
}

.text-input {
    padding: 4px 6px;
}

.medium-text-input {
    width: 180px;
    margin: 3px 0;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

.link-style-1 {
    color: rgb(50, 255, 111);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.button-style-1 {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    background: none;
    font-weight: 500;

    padding: 4px 8px;
    transition: all 0.4s ease;
}

.button-style-1:hover {
    background-color: white;
    color: black;
}

.button-style-2 {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 18px;
    background: none;
    font-weight: 600;

    padding: 8px 12px;
    transition: all 0.4s ease;
}

.button-style-2:hover {
    background-color: white;
    color: black;
}

.button-style-3 {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 8px;

    padding: 8px 12px;
    transition: all 0.4s ease;
}

.button-style-3:hover {
    background-color: rgb(56, 56, 56);
}

.image-size-1 {
    height: 34px;
    width: 34px;
    display: block;
}

.flex-form {
    display: flex;
    align-items: center;
}

.classic-form-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.title-style1 {
    margin: 6px 0 14px 0;
}

.inline-logo-separator {
    margin: 0 12px;
    font-weight: 800;
    align-self: center;
}

.menu-items-separator {
    margin: 0 4px;
    font-weight: 400;
    align-self: center;
}

.classic-label {
    font-size: 16px;
    margin-bottom: 4px;
}

.classic-input {
    padding: 6px 10px;
    width: 100%;

    box-sizing: border-box;
}

.classic-link-style1 {
    color: rgb(36, 238, 96);
    text-decoration: none;
    font-weight: 600;
}

.classic-link-style1:hover {
    text-decoration: underline;
}

.input-text-style-1 {
    padding: 7px 10px;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 12px;
}

.input-style-1 {
    display: block;
    border-radius: 20px;
    padding: 8px 12px;
    border: 1px solid rgb(141, 141, 141);
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.textarea-style-1 {
    resize: vertical;
    display: block;
    border-radius: 20px 20px 5px 20px;
    padding: 8px 12px;
    border: 1px solid rgb(141, 141, 141);
    width: 100%;
    max-height: 400px;
    box-sizing: border-box;
    font-size: 14px;
}

.search-back {
    background-image: url("../assets/images/icons/black-search.png");
    background-size: 18px 18px;
    background-position: 8px center;
    background-repeat: no-repeat;

    padding-left: 32px;
}

.search-button-style-1 {
    display: flex;
    cursor: pointer;
    background: none;
    width: 80px;
    height: 32px;
    
    background-color: black;
    color: white;
    border: 3px solid white;

    transition: all 0.4s ease;
}

.search-button-style-1:hover {
    background-color: rgb(177, 177, 177);
    color: black;
}

.menu-button-style-1 {
    padding-top: 20px;
    background-position: center 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.menu-button-style-1:hover {
    color: #54ff54;
}

.menu-button-style-2 {
    margin: 0 4px;
    width: 38px;
    height: 38px;

    border-radius: 50%;

    background-color: rgb(37, 37, 37);
    background-position: center center;
    background-size: 22px 22px;
    background-repeat: no-repeat;

    transition: all 0.4s ease;
}

.menu-button-style-2:hover {
    background-color: rgb(70, 70, 70);
}

.green-message {
    background-color: rgb(183, 223, 183);
    width: 340px;
    padding: 8px 14px;
    overflow: hidden;
}

.green-message-text {
    margin: 4px 0;
    font-size: 13px;
    color: rgb(17, 54, 17);
    font-weight: 600;
}


