
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,200;0,400;0,500;0,600;1,400;1,500&display=swap');

body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 15px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-v-flex {
    display: flex;
    align-items: center;
}

.small-label {
    font-size: 13px;
}

.text-input {
    padding: 4px 6px;
}

.medium-text-input {
    width: 180px;
    margin: 3px 0;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}

.button-style-1 {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    background: none;
    font-weight: 500;

    padding: 4px 8px;
    transition: all 0.4s ease;
}

.button-style-1:hover {
    background-color: white;
    color: black;
}

.flex-form {
    display: flex;
    align-items: center;
}

.classic-form-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.title-style1 {
    margin: 6px 0 14px 0;
}

.classic-label {
    font-size: 16px;
    margin-bottom: 4px;
}

.classic-input {
    padding: 6px 10px;
    width: 100%;

    box-sizing: border-box;
}

.classic-link-style1 {
    color: rgb(36, 238, 96);
    text-decoration: none;
    font-weight: 600;
}

.classic-link-style1:hover {
    text-decoration: underline;
}
