
main {
    /*margin-top: 55px;*/
    z-index: -1;
}

#global-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

#master-left {
    position: fixed;
    left: 0;
    padding: 6px;
    box-sizing: border-box;
    width: 280px;

    background-color: rgb(56, 56, 56);
}

#master-right {
    position: fixed;
    right: 0;
    width: 280px;
    padding-bottom: 2px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px 4px 4px 4px;
    background-color: rgb(56, 56, 56);
}

#master-middle {
    border-radius: 4px;
    margin: 12px 292px;
    width: 100%;
    height: 900px;
    box-sizing: border-box;
}

#contact-search {
    display: block;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-image: url(../assets/images/icons/white-search.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;

    transition: all 0.4s ease;
}

#contact-search:hover {
    background-color: rgb(102, 102, 102);
}

#contact-search-field-container {
    /*this is absolute*/
    box-sizing: border-box;
    display: flex;
    align-items: center;

    overflow: hidden;
    width: 0px;
}

.not-link {
    text-decoration: none;
    display: flex;
    margin: 0;
}

#close-contact-search {
    margin-left: -26px;
    padding: 4px;
}

#close-contact-search:hover {
    background-color: rgb(187, 187, 187);
}

#contact-search-field {
    display: block;
    width: 100%;
    padding: 6px 30px 6px 10px;
    margin-left: 2px;
    box-sizing: border-box;
    border: 1px solid rgb(39, 39, 39);
}

#contacts-container {
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    margin-top: 6px;
}

.contact-user {
    display: flex;
    align-items: center;
    padding: 6px;
}

.contact-user:last-child {
    margin-bottom: 6px;
}

.contact-user-connection-icon {
    margin-left: auto;
    margin-right: 4px;
}

.contact-user-name {
    margin: 0 0 0 6px;
}

.contact-user-button {
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.contact-user-button:hover {
    background-color: rgb(71, 71, 71);
}

.menu-item-style-1 {
    cursor: pointer;
    padding: 6px 8px;

    border-radius: 4px;
}

.menu-item-style-1:hover {
    background-color: rgb(99, 99, 99);
}

.menu-item-style-2 {
    cursor: pointer;
    padding: 1px 5px;

    border-radius: 4px;
}

.menu-item-style-2:hover {
    background-color: rgb(99, 99, 99);
}