
main {
    /*margin-top: 55px;*/
    z-index: -1;
}

#master-middle {
    border-radius: 4px;
    width: 45%;
    margin: 0 auto;
    margin-top: 12px;
    max-width: 600px;
    box-sizing: border-box;
}

#master-right {
    position: fixed;
    right: 0;
    width: 320px;
    padding-bottom: 2px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px 4px 4px 4px;
    background-color: rgb(40, 40, 40);
}

#contact-search {
    display: block;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-image: url(../assets/images/icons/white-search.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;

    transition: all 0.4s ease;
}

#contact-search:hover {
    background-color: rgb(102, 102, 102);
}

#contact-search-field-container {
    /*this is absolute*/
    box-sizing: border-box;
    display: flex;
    align-items: center;

    overflow: hidden;
    width: 0px;
}

#close-contact-search {
    margin-left: -26px;
    padding: 4px;
}

#close-contact-search:hover {
    background-color: rgb(187, 187, 187);
}

#contact-search-field {
    display: block;
    width: 100%;
    padding: 6px 30px 6px 10px;
    margin-left: 2px;
    box-sizing: border-box;
    border: 1px solid rgb(39, 39, 39);
}

#contacts-container {
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    margin-top: 6px;
}

.contact-user {
    display: flex;
    align-items: center;
    padding: 6px;
}

.contact-user:last-child {
    margin-bottom: 6px;
}

.contact-user-connection-icon {
    margin-left: auto;
    margin-right: 4px;
}

.contact-user-name {
    margin: 0 0 0 6px;
}

.contact-user-button {
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}